* {
  margin: 0;
}
.App {

  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
body {
  background-color: azure;
} 

.col-1 {

  flex: 0.9;
}

.header {

  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
/* Information card */
.info-card {

  display: flex;
  justify-content: space-between;  
}

.info {

  flex: 1;
  padding: 5px;
  
}
.info:not(:last-child) {

  margin-right: 20px;
  margin-bottom: 20px;
}
.info--selected {

  border-top: 10px solid #CC1034;
}
.info-cases {

  color:  #CC1034;
  margin-bottom: 5px;

}
.info h4 {

  color: rgb(156, 154, 154) !important;
}
.info-cases, .info-title, .info-total {

  padding-top: 2px;
}
/* Table */
.table {

  margin-top: 20px;
  overflow: scroll;
  max-height: 500px; 
  
}
.table tr {

  display: flex;
  justify-content: space-between;
}
.table td {

  padding: 10px;
}
.table tr:nth-child(odd) {

  background-color: azure;
}
/* Map */
.map {

  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {

  height: 100%;
}

.popup-flag {

  width: 100%;
  height: 80px;
  background-size: cover;
  border-radius: 6px;
}

.popup-name {

  font-size: 18px;
  margin: 2px;
}

.popup-cases, .popup-recover, .popup-death {

  font-size: 12px;
  margin: 2px;
}


/* Line Graph */
.graph {

  height: 300px;
  padding: 5px;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
}